@charset"UTF-8";
.photo_seo{
    position:relative;
    height:35vh;
    background-image: url(../img/29092320_s.jpg);
    background-size:cover;
    background-position:50px;
    background-color:rgba(62,87,146,0.507);
    background-blend-mode:darken;
    margin-top:25px;
}
.photo_seo2{
    margin-right:50px;
}
.telephone{
    float:right;
    margin:-110px 332px;
}
.telephone2{
    float:right;
    margin: -128px 300px;
}
.wrap_botton a{
    font-family: "Noto Serif JP", serif;
    display:block;
    padding:15px 38px;
    margin:-15px -25px;
    text-decoration:none;
    border-radius:10px;
    background-color:#0f215f;
    color:#ffffff;
    text-align:center;
}
.word_seo{
    position:relative;
    color:#ffffff;
    text-align:center;
    top:140px;
    font-size:45px;
}
.pan{
    padding-top:20px;
    padding-left:0;
    width:100%;
}
.pan li{
    display:inline-flex;
}
.panmoji{
    margin:0 -27px;
}

.panmoji2{
    padding: 0px 53px;
     text-decoration:underline;
}
.access_words{
    text-align:center;
    font-size:40px;
    font-family: meiryo, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:#0f215f;
    background-image:linear-gradient(to left,#ffffff,#0f215f)
    
}
.access_words p{
    color:#ffffff;
}

th{
    padding:24px 10px;
    border-bottom: 1px solid #000000;
}
td{
    padding:24px 60px;
    text-align: center;
    border-bottom: 1px solid #000000;
    
}
table{
     margin-left:600px;
     margin-bottom: 100px;
     margin-top: 50px;
}
.wrap2{
    display:none;
}
@media screen and (max-width:960px) {
     body,nav,ul,li{
        margin: 0;
        padding:0;
    }
    .photo_seo{
        background-repeat:no-repeat;
        background-position: 0px -67px;
        padding-right:50px;
        max-width:100%;
        height:400px;
    }
    .access_words{
        max-width:100%;
    }
    .mapword{
        margin:-5px 0px;
        width:600px;
    }
    table{
        margin:120px 160px;
        width:629px;
    }
    .pan{
        margin-left: 0px;
        max-width:100%;
    }
    .telephone {
        float: right;
        margin: -73px 230px;
    }
    .telephone2 {
        float: right;
        margin: -94px 200px;
    }
   
     nav {
        max-width:94%;
        margin-left:34px;
    }
    .panmoji{
        margin: 0 -1px;
    }
    .panmoji2{
        padding:0px 34px;;
    }
    .mainlogo {
        padding-bottom: 11px;
    }
}

@media screen and (max-width:480px) {
    .photo_seo{
        background-repeat:no-repeat;
        background-position: 0px -43px;
        padding-right:10px;
        max-width:100%;
        height:200px;
    }
    .word_seo{
        font-size:20px;
        top: 87px;
        left:0px;
    }
    .pan{
        font-size:10px;
        margin-bottom:-20px;
        margin-top:27px;
        margin-left:0px;
        padding-top:0px;
        padding-bottom:30px;
        max-width:100%;
    }
    .pan a{
        font-size:17px;
        margin-left:10px;
    }
    .pan li{
        max-width:100%;
    }
    .access_words{
        max-width:100%;
        font-size:20px;
        text-align:center;
    }
    .mapword {
        max-width: 100%;
    }
    table {
        margin:70px 50px;
        max-width:293px;
    }
    td{
        font-size:8px;
        padding: 16px 0px;
    }
    th{
        font-size:10px;
    }
    .wrap2{
        display:flex;
        float:right;
        margin:-79px 140px;
        max-width:100%;
    }
    .wrap_botton2 a{
        font-family: "Noto Serif JP", serif;
        display:block;
        padding:15px 38px;
        margin:-15px -25px;
        text-decoration:none;
        border-radius:10px;
        background-color:#0f215f;
        color:#ffffff;
        text-align:center;
    }
    .photo_seo{
        margin-top:82px;
    }
}
