@charset"UTF-8";
.pan{
    padding-left:0;
}
.pan li{
display:inline;
margin-right:5px;
}
input{
    width:300px;
    height:37px;
    margin-bottom: 50px;
}
.checkbox input{
    width:auto;
    height: auto;
}
textarea{
    display:block;
    width:400px;
    height:200px;
    margin-left: 700px;
    margin-top:20px;
}
.phone1{
    color:#0f215f;
    margin-top:-10px;
}
button{
    background-color:#0f215f;
    color:#ffffff;
    width:200px;
    height:50px;
    padding-bottom:20px;
    padding-top:20px;
    border-radius:50px;
    margin-top:20px;
    margin-bottom:20px;
    
}
form {
    text-align: center;
}
.phone{
    text-align: center;
    background-color: #f0f0f0;
    margin-top:60px;
    margin-bottom:60px;
    margin-left:400px;
    margin-right:400px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text1{
    font-weight:bold;
}
.text2{
    margin-bottom: 20px;
    margin-top:-20px;
}
.required{
    background-color: #ec4d4d;
    color:#ffffff;
    border-radius:5px;
    margin-left: 15px;
    font-size: 18px;
}
.required2{
    background-color: #2d2b2b;
    color:#ffffff;
    border-radius:5px;
    margin-left: 15px;
    font-size: 18px;
}
.soushin button{
    font-family: "Noto Serif JP", serif;
    padding-top:13px;
}
.pan{
    padding-top:20px;
    padding-left:0;
    width:100%;
}
.pan li{
    display:inline-flex;
}
.panmoji{
    margin:0 -27px;
}

.panmoji2{
    padding: 0px 53px;
     text-decoration:underline;
}
@media screen and (max-width:960px){
    .phone{
    margin:73px 73px;
    padding:25px 138px;
    }
    input{
        margin: 20px 10px;
        padding:0px 0px;
    }
    form h2{
        max-width:100%;
    }
    .text1{
    font-size:15px;
    }
    textarea{
        margin: 30px 255px;
    }
    footer{
    max-width:100%;
    }
    font input {
    max-width:100%;
    }
    .pan{
        margin-left: 0px;
        max-width: 100%;
    }
    nav {
        max-width:94%;
        margin-left:34px;
    }
    .telephone {
        float: right;
        margin: -73px 230px;
    }
    .telephone2 {
        float: right;
        margin: -94px 200px;
    }
    .panmoji{
        margin: 0 -1px;
    }
    .panmoji2{
        padding:0px 34px;;
    }
}
@media screen and (max-width:480px) {
    .pan{
        font-size:10px;
        margin-bottom:-20px;
        margin-top:80px;
        margin-left:0px;
        padding-top:0px;
        padding-bottom:30px;
        max-width:100%;
    }
    .pan a{
        font-size:17px;
        margin-left:-10px;
    }
   
  
    .pan li{
        max-width:100%;
    }
    .phone {
        margin: 26px 1px;
        padding:6px 18px;
    }
    .text1 {
        font-size:12px;
    }
    .text2{
        font-size:12px;
        margin-top:-16px;
    }
    .phone1{
        font-size:25px;
    }
    footer{
        max-width:100%;
    }
    form h2 {
        max-width:100%;
        font-size:10px;
    }
    .required {
        font-size:10px;
        margin-left: 6px;
        padding-right:0px;
    }
    .required2 {
        font-size:10px;
        margin-left:6px;
    }
    input {
        margin:7px 6px;
        padding:0px 0px;
        max-width:100%;
        height:15px;
    }
    
        textarea {
        margin:15px 37px;
        max-width:306px;
        height:186px;
    }
}
