@charset"UTF-8";
.photo_seo{
    position:relative;
    height:35vh;
    background-image: url(../img/33353037_s.jpg);
    background-size:cover;
    background-position:0px -250px;
    background-color:rgba(62,87,146,0.507);
    background-blend-mode:darken;
    margin-top:25px;

}
.photo_seo2{
    margin-right:50px;
}
.word_seo{
    position:relative;
    color:#ffffff;
    text-align:center;
    top:140px;
    font-size:45px;
}
.pan{
    padding-top:20px;
    padding-left:0;
    width:100%;
}
.pan li{
    display:inline-flex;
}
.panmoji{
    margin:0 -27px;
}

.panmoji2{
    padding: 0px 53px;
     text-decoration:underline;
}
.customer_words{
    text-align:center;
    font-size:40px;
    font-weight: 400;
    font-style: normal;
    background-color:#0f215f;
    background-image:linear-gradient(to left,#ffffff,#0f215f)
    
}
.customer_words p{
    color:#ffffff;
}
.column2 .box2{
    display:flex;
    padding-left:60px;
    padding-bottom:80px;
}
.desc2{
    padding-left:90px;
}
.column2 .box2 .photo2{
    flex-shrink: 0;
}
.box2:nth-of-type(even){
    flex-direction:row-reverse;
    padding-right:60px;
}
.box2:nth-of-type(odd) .desc2{
    padding-left:40px;
}
.box2:nth-of-type(even).desc2{
    padding-right:20px;
}
.box2 .desc2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:100%;
}
.photo2 img{
    width:100%;
    height:400px;
    object-fit:cover;
}
.txt2{
    width:80%;
    font-size:20px;
}
.wrap2{
    display:none;
}
@media screen and (max-width:960px){
  body,nav,ul,li{
        margin: 0;
        padding:0;
    }
.photo_seo{
        background-repeat:no-repeat;
        background-position: 0px -67px;
        padding-right:50px;
        max-width:100%;
        height:400px;
}
.customer_words{
        max-width:100%;
}
.photo2 img{
        width:250px;
        height:250px;
}
.txt2{
        font-size:13px;
        width:500px;
}
.box2:nth-of-type(odd){
        padding-left:15px;
        margin-left: 50px;
}
.box2:nth-of-type(even){
        margin-left: 50px;
        padding-right:0px;
}

.desc2{
        font-size:14px;
}
footer label input{
        max-width:100%;
        height: 500px;
}
.pan{
        margin-left:0px;
        max-width: 100%;
    }
.telephone {
        float: right;
        margin: -73px 230px;
    }
.telephone2 {
        float: right;
        margin: -94px 200px;
    }
 .mainlogo {
        padding-bottom: 11px;
    }
nav {
        max-width:94%;
        margin-left:34px;
    }
.panmoji{
        margin: 0 -1px;
    }
.panmoji2{
        padding:0px 34px;;
    }
}
@media screen and (max-width:480px) {
     .word_seo{
        font-size:20px;
        top: 87px;
        left: 50px;
    }
    .photo_seo{
        background-repeat:no-repeat;
        max-width:100%;
        height:192px;
        padding-right:95px;
    }
    .pan{
        font-size:10px;
        margin-bottom:-20px;
        margin-top:27px;
        margin-left:0px;
        padding-top:0px;
        padding-bottom:30px;
        max-width:100%;
    }
    .pan a{
        font-size:17px;
        margin-left:10px;
    }
    .pan li{
        max-width:100%;
    }
    .customer_words{
        max-width:100%;
        font-size:20px;
        text-align:center;
    }
      footer{
        max-width:100%;
    }
    .photo2 img {
        width:120px;
        height:131px;
        padding-left:0px;
    }
    .txt3{
        font-size:13px;
        padding-left:10px;
    }
    .txt2{
        font-size:10px;
        width:250px;
        padding-left:10px;
    }
    .txt2:nth-of-type(odd) {
        padding-left: 10px;
    }
   
    .box2:nth-of-type(odd) {
        padding-left:0px;
        margin-left:0px;
    }
    .box2:nth-of-type(odd) .desc2 {
        padding-left:0px;
    }
    .box2:nth-of-type(even) {
        margin-left:0px;
        padding-left:0px;
        padding-right:5px;
    }
    .box2:nth-of-type(even) .txt2{
        padding-left: 125px;
    }
    .box2:nth-of-type(even) .txt3{
        padding-left: 125px;
    }
     .wrap2{
    display:flex;
    float:right;
    margin:-79px 140px;
    max-width:100%;
    }
    .wrap_botton2 a{
        font-family: "Noto Serif JP", serif;
        display:block;
        padding:15px 38px;
        margin:-15px -25px;
        text-decoration:none;
        border-radius:10px;
        background-color:#0f215f;
        color:#ffffff;
        text-align:center;
    }
}